@{
    ViewBag.Title = "About";
}
<h2>@ViewBag.Title.</h2>

<p>Users can first log in and register an account to get clinic booking function</p>
<p>After register the system, Patient could add patient infomation from Patient section</p>
<p>Admin user could manage the clinic data by using Clinic section on navgation bar after login</p>
<img src="~/Content/general-practitioner.jpg" />