@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clinic Booking System</h1>
    <p class="lead">You can booking a clinic in this system</p>
    <img src="~/Content/appointment.jpg" />
    <p><a href="#" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
<div class="row">
    <div class="col-md-6">
        <h2>Getting started</h2>
        <p>
            Users can first log in and register an account to get clinic booking function
        </p>
        <p>
            Patient could make an appointmnet from the system
        </p>
    </div>
    <div class="col-lg-6">
        <img src="~/Content/appointment_1.jpg" />

    </div>
</div>
    <div class="row">
        <div class="col-md-4">
            <h2>Getting started</h2>
            <p>
                Users can first log in and register an account to get clinic booking function
            </p>
        </div>
        <div class="col-md-4">
            <h2>Book a clinic</h2>
            <p>After register the system, Patient could add patient infomation from Patient section</p>
        </div>
        <div class="col-md-4">
            <h2>Clinic management</h2>
            <p>Admin user could manage the clinic data by using Clinic section on navgation bar after login</p>
        </div>
    </div>
